  .card {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 60%; 
    margin: 0 auto; 
  }
  
  img {
    max-width: 70%; 
    height: auto; 
  }
  
  .bg-custom {
    background-image: url('src/images/back.png'); /* Change to your image URL */
    background-size: cover;
    background-position: center;
  }