  .card {
    display: flex;
    flex-direction: column; /* Stack content vertically */
    align-items: center; /* Center content */
    width: 60%; /* Set card width */
    margin: 0 auto; /* Center the card on the page */
  }
  
  img {
    max-width: 70%; /* Ensures the image doesn’t exceed the card width */
    height: auto; /* Maintains the aspect ratio */
    /* object-fit: contain;  */
  }
  